/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.formation-entry-list-filters, .formation-entry-list-actions {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 10px;
  height: 45px;
  padding: 0 10px;
  align-items: center; }
  .formation-entry-list-filters .subsubsub, .formation-entry-list-actions .subsubsub {
    float: none;
    margin: 5px; }

.formation-entry-list-actions {
  justify-content: flex-end; }
  .formation-entry-list-actions .button {
    display: flex;
    align-items: center; }

.formation-entry-list-table .tablenav.top {
  display: none; }

.formation-entry-list-table .wp-list-table .column-cb {
  width: 30px; }

.formation-entry-list-table .wp-list-table .column-name {
  width: 360px; }

.formation-entry-list-table .wp-list-table .column-preview {
  width: 100%;
  padding: 10px 0; }

.formation-entry-list-table .wp-list-table .column-modified {
  width: 165px; }

.formation-entry-list-table .wp-list-table .column-submitted {
  width: 165px; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slide-in {
  from {
    transform: translateY(40px); }
  to {
    transform: translateY(0px); } }

@keyframes fade-in-out {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slide-in-out {
  0% {
    transform: translateY(20px); }
  25% {
    transform: translateY(0px); }
  80% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-20px); } }

.formation-field .formation-field-checkbox input[type='checkbox']:checked ~ label::after,
.formation-field .formation-field-radio input[type='checkbox']:checked ~ label::after,
.formation-field .formation-field-select input[type='checkbox']:checked ~ label::after {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='24' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E"); }

.formation-field select {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='24' stroke='%2300498C' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E"); }

.formation-field .button-repeater::before {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' fill='%23009AFF' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 14H18V4a2 2 0 0 0-4 0v10H4a2 2 0 0 0 0 4h10v10a2 2 0 0 0 4 0V18h10a2 2 0 0 0 0-4z'/%3E%3C/svg%3E"); }

.formation-form p {
  display: block;
  width: 100%;
  margin: 6px 0 6px; }

.formation-form h1, .formation-form h2, .formation-form h3, .formation-form h4, .formation-form h5 {
  margin-top: 6px;
  margin-bottom: 12px; }

.formation-form hr {
  margin: 12px 0;
  width: 100%; }

.formation-field {
  display: block;
  padding: 0.7em;
  margin-top: 16px; }
  .formation-field-label {
    position: relative;
    overflow: hidden;
    margin: 8px 0 4px;
    text-transform: uppercase;
    color: #00498c;
    font-size: 12px;
    font-weight: bold;
    line-height: 11px;
    letter-spacing: 0.5pt; }
  .formation-field .required {
    font-size: 11px;
    color: #00498c; }
  .formation-field input[type=email],
  .formation-field input[type=search],
  .formation-field input[type=tel],
  .formation-field input[type=text],
  .formation-field input[type=time],
  .formation-field input[type=url],
  .formation-field input[type=week],
  .formation-field select,
  .formation-field textarea {
    width: 100%; }
  .formation-field .formation-field-checkbox,
  .formation-field .formation-field-radio,
  .formation-field .formation-field-select {
    width: 100%;
    margin: 0 0 8px; }
    .formation-field .formation-field-checkbox li,
    .formation-field .formation-field-radio li,
    .formation-field .formation-field-select li {
      position: relative;
      display: flex;
      margin: 0 0 8px; }
      .formation-field .formation-field-checkbox li label,
      .formation-field .formation-field-radio li label,
      .formation-field .formation-field-select li label {
        color: #383c4c;
        margin: 10px 16px;
        padding-left: 10px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400; }
        .formation-field .formation-field-checkbox li label::before, .formation-field .formation-field-checkbox li label::after,
        .formation-field .formation-field-radio li label::before,
        .formation-field .formation-field-radio li label::after,
        .formation-field .formation-field-select li label::before,
        .formation-field .formation-field-select li label::after {
          position: absolute;
          content: '';
          transition: border-color 120ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
        .formation-field .formation-field-checkbox li label::before,
        .formation-field .formation-field-radio li label::before,
        .formation-field .formation-field-select li label::before {
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 5px; }
        .formation-field .formation-field-checkbox li label::after,
        .formation-field .formation-field-radio li label::after,
        .formation-field .formation-field-select li label::after {
          left: 14px;
          top: 14px;
          width: 14px;
          height: 14px;
          border-radius: 3px;
          border: 1px solid #b4b8c7; }
        .formation-field .formation-field-checkbox li label:hover::before,
        .formation-field .formation-field-radio li label:hover::before,
        .formation-field .formation-field-select li label:hover::before {
          border-color: #b4b8c7; }
    .formation-field .formation-field-checkbox input,
    .formation-field .formation-field-radio input,
    .formation-field .formation-field-select input {
      margin: 0 15px 0 1px;
      visibility: hidden; }
      .formation-field .formation-field-checkbox input:checked ~ label,
      .formation-field .formation-field-radio input:checked ~ label,
      .formation-field .formation-field-select input:checked ~ label {
        color: #383c4c; }
        .formation-field .formation-field-checkbox input:checked ~ label::before,
        .formation-field .formation-field-radio input:checked ~ label::before,
        .formation-field .formation-field-select input:checked ~ label::before {
          background-color: rgba(0, 154, 255, 0.05);
          border-color: rgba(0, 154, 255, 0.5); }
        .formation-field .formation-field-checkbox input:checked ~ label::after,
        .formation-field .formation-field-radio input:checked ~ label::after,
        .formation-field .formation-field-select input:checked ~ label::after {
          border: 1px solid #009aff; }
      .formation-field .formation-field-checkbox input[type='checkbox']:checked ~ label::after,
      .formation-field .formation-field-radio input[type='checkbox']:checked ~ label::after,
      .formation-field .formation-field-select input[type='checkbox']:checked ~ label::after {
        background-color: #009aff;
        background-size: 14px 14px; }
      .formation-field .formation-field-checkbox input[type='radio'] ~ label::after,
      .formation-field .formation-field-radio input[type='radio'] ~ label::after,
      .formation-field .formation-field-select input[type='radio'] ~ label::after {
        border-radius: 50%; }
      .formation-field .formation-field-checkbox input[type='radio']:checked ~ label::after,
      .formation-field .formation-field-radio input[type='radio']:checked ~ label::after,
      .formation-field .formation-field-select input[type='radio']:checked ~ label::after {
        border-width: 5px; }
  .formation-field .description {
    font-size: 0.8em; }
  .formation-field-notice-error {
    color: #dc3232; }
  .formation-field-notice-success {
    color: #46b450; }
  .formation-field-notice-warning {
    color: #ffba00; }
  .formation-field-button {
    border-radius: 4px;
    padding: 11px;
    min-width: 150px;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    background-color: #00498c;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    transition: color 90ms cubic-bezier(0.215, 0.61, 0.355, 1), border-color 90ms cubic-bezier(0.215, 0.61, 0.355, 1), background-color 90ms cubic-bezier(0.215, 0.61, 0.355, 1); }
    .formation-field-button[disabled], .formation-field-button.gf-default-disabled {
      opacity: 0.1; }
    .formation-field-button:hover, .formation-field-button:focus {
      border-color: #b4b8c7;
      color: #797e95;
      background-color: transparent; }
    .formation-field-button.gform_previous_button {
      border-color: #e3e6f0;
      color: #797e95;
      background-color: transparent; }
      .formation-field-button.gform_previous_button:hover, .formation-field-button.gform_previous_button:focus {
        border-color: #b4b8c7; }
  .formation-field .button-repeater {
    border: 0;
    background: none;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 36px;
    color: #00498c;
    position: relative;
    cursor: pointer; }
    .formation-field .button-repeater:focus {
      outline: none; }
    .formation-field .button-repeater::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      border: none;
      background-position: center;
      background-size: 12px;
      background-color: #fff; }
    .formation-field .button-repeater::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      left: 0;
      top: 0;
      border-radius: 50%;
      border: 1px dashed #b4b8c7; }
  .formation-field .box-close {
    display: flex;
    position: absolute;
    top: -26px;
    right: 0;
    line-height: 0;
    font-size: 14px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  .formation-field input,
  .formation-field select,
  .formation-field textarea {
    font-size: 14px !important;
    line-height: 24px;
    padding: 7px 0 10px !important;
    border: none;
    outline: none;
    border-bottom: 1px solid #e3e6f0;
    color: #383c4c; }
  .formation-field textarea {
    border: 1px solid #e3e6f0; }
  .formation-field select {
    position: relative;
    background-color: transparent;
    background-position: calc(100% - 14px) 50%;
    background-size: 16px;
    border-radius: 0;
    -webkit-appearance: none; }
  .formation-field .description {
    padding: 0;
    margin: 0 0 8px;
    font-size: 16px;
    font-weight: 300;
    color: #797e95; }

.formation-repeatable {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  margin-top: 6px; }
  .formation-repeatable-container {
    margin-bottom: 6px; }

@media (min-width: 641px) {
  .formation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    .formation-field {
      width: 100%;
      flex: 0 0 auto;
      padding-right: 0; }
      .formation-field.half {
        width: calc(50% - 8px); }
  .small,
  .medium,
  .large {
    width: 100%; }
  .small {
    max-width: 180px; }
  .medium {
    max-width: 400px; }
  .large {
    max-width: 840px; } }


/*# sourceMappingURL=blocks.css.map*/