/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.editor-styles-wrapper {
	.formation-editor-input {

		label {
			display : block;
		}

		input[type=email],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=time],
		input[type=url],
		input[type=week],
		textarea {
			width : 100%;
		}

		.description {
			font-size : 0.8em;
		}
	}
}
