$red : #dc3232;
$green : #46b450;
$yellow : #ffba00;
$black : #000000;


$white: #fff;
$azure: #009aff;
$darkish-blue: #00498c;
$dark-blue: #002d72;
$cloudy-blue: #b4b8c7;
$light-blue: #7fa4c5;
$steel: #797e95;
$pale-lilac: #e3e6f0;
$pale-red: #e64545;
$true-green: #0db700;
$charcoal-grey: #383c4c;
$macaroni-and-cheese: #ffbe2a;
$pale-grey: #f5f6fa;
