/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

#poststuff .wp-block-callout-block-bootstrap-callout h2{
	font-size: 2rem;
	padding: 0;
	margin: 0 0 15px 0;
	line-height: 1.4;
}

.wp-block-callout-block-bootstrap-callout.flex{

	display: flex;
	flex-wrap: wrap;

	.order-last{
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
		order: 13;
	}
	.order-first{
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
		order: -1;
	}

	.text-block{
		padding: 0 15px;
	}
}

.edit-post-visual-editor .editor-block-list__block {
	max-width:1024px;
}
.edit-post-visual-editor .editor-post-title{
	max-width: 1024px;
}
