%icon-check {
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='24' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
}

%icon-chevron {
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='24' stroke='%2300498C' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
}

%icon-download {
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg fill='none' height='24' stroke='%2300498C' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 17v3a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-3M8 12l4 4 4-4M12 2v14'/%3E%3C/svg%3E");
}

%icon-phone {
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml,%0A%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"%3E%3Cpath fill="%2300498C" d="M24.49707 19.23633c-.40332-.6582-1.0293-1.4248-1.76465-2.15918-.53222-.53223-2.35937-2.26758-3.53418-2.26758-.37695 0-.6162.16113-.75.29492l-1.56445 1.56348c-.02637.02637-.11035.05664-.26172.05664-.86816 0-2.70898-.96094-4.54785-2.79883-2.45215-2.45312-3.042-4.50976-2.74219-4.80957l1.5625-1.56348c.13477-.13476.2959-.37402.2959-.75.00098-1.17578-1.73535-3.00293-2.26758-3.53515C8.3916 2.73535 6.56543 1 5.38867 1c-.37597 0-.61523.16016-.75.29492L1.51074 4.42285C.58691 5.3457.92383 7.15137 2.5127 9.78906c1.3789 2.28907 3.56152 4.97266 6.14355 7.55469C13.23633 21.92383 17.87402 25.00098 20.19629 25c.57812 0 1.042-.17188 1.38086-.51074l3.12793-3.12793c.67676-.67676.01074-1.7666-.20801-2.125zM20.5166 23.4287c-.03515.03418-.13672.07129-.32031.07129-1.58106 0-5.79102-2.5293-10.4795-7.2168-2.49902-2.49902-4.60058-5.08007-5.91894-7.26855C2.3125 6.5498 2.45215 5.60254 2.5713 5.4834l2.94434-2.94434c.38378.14844 1.27343.71485 2.34667 1.78906s1.64063 1.9629 1.78907 2.34668L8.27148 8.05566c-1.43847 1.43848.41309 4.60059 2.7422 6.93067 1.99804 1.99805 4.14745 3.23828 5.60839 3.23828.68262 0 1.0957-.26953 1.32227-.4961l1.38086-1.37988c.38378.14844 1.27246.71582 2.34668 1.78907 1.07324 1.07324 1.64062 1.96289 1.78906 2.34668L20.5166 23.4287z"/%3E%3C/svg%3E%0A');
}

%icon-add {
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' fill='%23009AFF' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 14H18V4a2 2 0 0 0-4 0v10H4a2 2 0 0 0 0 4h10v10a2 2 0 0 0 4 0V18h10a2 2 0 0 0 0-4z'/%3E%3C/svg%3E");
}

%icon-arrow-right {
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg height='32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M32 16.009c0-.267-.11-.522-.293-.714l-9.899-9.999a.993.993 0 0 0-1.414 0 1.016 1.016 0 0 0 0 1.428l8.193 8.275H1c-.552 0-1 .452-1 1.01s.448 1.01 1 1.01h27.586l-8.192 8.275a1.017 1.017 0 0 0 0 1.428.994.994 0 0 0 1.414 0l9.899-9.999c.187-.189.29-.449.293-.714z' fill='%2300498c' fill-rule='evenodd'/%3E%3C/svg%3E");
}

%icon-external {
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%2300498c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6M15 3h6v6M10 14L21 3'/%3E%3C/svg%3E");
}

%icon-exclamation-circle {
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.311 45.311"%3E%3Cpath fill="%2300498c" d="M22.675.02c-.006 0-.014.001-.02.001-.007 0-.013-.001-.02-.001C10.135.02 0 10.154 0 22.656c0 12.5 10.135 22.635 22.635 22.635h.04c12.5 0 22.635-10.135 22.635-22.635C45.311 10.154 35.176.02 22.675.02zm0 38.791c-.006 0-.014-.001-.02-.001-.007 0-.013.001-.02.001-2.046 0-3.705-1.658-3.705-3.705 0-2.045 1.659-3.703 3.705-3.703h.04c2.045 0 3.706 1.658 3.706 3.703 0 2.046-1.658 3.705-3.706 3.705zm5.313-28.233c-.242 3.697-1.932 14.692-1.932 14.692 0 1.854-1.519 3.356-3.373 3.356h-.058c-1.853 0-3.372-1.504-3.372-3.356 0 0-1.689-10.995-1.931-14.692-.12-1.851 1.298-5.288 5.304-5.288.01 0 .02.001.029.001.009 0 .019-.001.029-.001 4.005 0 5.425 3.437 5.304 5.288z"/%3E%3C/svg%3E');
}
