//
// Typographic helpers.
//

// Font weights
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$heavy: 800;
$black: 900;

// Font families
$g-font-family-heading: 'Orpheus Pro', serif;
$g-font-family-copy: 'Lato', sans-serif;
